<div class="col-md-10 col-md-offset-2 left-border main-content-container">
  <div class="row">
    <div class="col-md-12">
      <h2>Multi Checkable Component<small> Ember.Widgets.MultiCheckableComponent </small></h2>
      <p class="elevated">MultiCheckableComponent.</p>
    </div>
    <div class="col-md-12">
      {{view Ember.Widgets.MultiCheckableComponent
        contentBinding="model"
        prompt="Food"
        optionLabelPath="name"
        optionValuePath="name"
      }}
    </div>
  </div>
</div>
