<div class="col-md-10 col-md-offset-2 left-border main-content-container">
  <div class="row">
    <div class="col-md-12">
      <h2>Accordion <small> Ember.Widgets.Accordion</small></h2>
      <p class="elevated">Displays collapsible content panels for presenting information in a limited amount of space. Click headers to expand/collapse content that is broken into logical sections, much like tabs.</p>

      <div class="example-container">
        {{view Ember.Widgets.MultiCheckableComponent
          content=model
          optionLabelPath="name"}}
      </div>
    </div>
  </div>
</div>